@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
   margin: 0;
   padding: 0;
   background-color: #FBFAF5;
   font-family: 'PT Serif', serif;
}

h4{
   font-size: 28px;
}

p{
   font-size: 25px;
}

.navbar{
   width: 100%;
   height: 60px;
   background-color: salmon;
}

.container{
   padding-left: 8%;
   padding-right: 8%;
}

.container h1{
   font-size: 50px;
}

.title{
   padding-top: 30px;
}

.title h5{
   padding-left: 25px;
   color: orange;
}

.title h4{
   color: orange;
}

.title .pendahuluan{
   width: 70%;
   margin-top: 20px;
}

.title .pendahuluan p{
   font-style: italic;
}

.materi1 {
   display: flex;
   margin-top: 50px;
   align-items: center;

}

.materi1 img{
   width: 50%;
   height: 50%;
}

.materi1 .materi{
   padding-right: 20%;
   margin-left: 20px;
}

.materi2{
   height: 100vh;
   margin-top: 100px;
   margin-left: 8%;
}

.materi2 h4{
   margin-bottom: 50px;
}

.content{
   display: flex;

}

.content h4{
   margin-bottom: 40px;
}

.content .artikel{
   margin-right: 20px;
   margin-top: -10px;
}

.content .artikel p{
   margin-top: -25px;

}

.gambar .teks{
   margin-right: 8%;
   margin-top: 8px;
}

.materi3{
   display: flex;
   margin-top: 50px;
   align-items: center;
}

.materi3 .gambar{
   width: 70%;
}

.materi3 .artikel{
   margin-right: 8%;
   margin-left: 20px;
}

.materi3 .artikel h4{
   margin-bottom: 10px;
}

.materi4{
   display: flex;
   margin-top: 50px;
   align-items: center;

}

.materi4 .artikel{
   margin-left: 8%;
   margin-right: 25px;
}

.materi4 .artikel h4{
   margin-bottom: 10px;
}

.materi5{
   margin-top: 50px;
   margin-right: 8%;
   margin-left: 8%;
}

.materi5 .layout1{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;

}

.materi5 .card{
   width: 25%;
   margin-right: 50px;
}

.materi5 .layout2{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.materi6{
   margin-top: 80px;
   margin-left: 8%;
   margin-right: 8%;
}

.materi6 h4{
   margin-bottom: 10px;
}

.materi7{
   margin-top: 80px;
   margin-left: 8%;
   margin-right: 8%;
}

.materi7 h4{
   margin-bottom: 10px;
}

.materi7 .col{
   display: flex;
   margin-top: 10px;
}

.materi7 .col .row{
   padding-right: 25px;
   box-sizing: border-box;
}

.materi7 .col p{
   text-align: justify;
}

.materi7 .end{
   margin-top: 10px;
   margin-bottom: 50px;
}


.komentar{
   height: 50vh;
   width: 100%;
}

.komentar h4{
   margin-left: 8%;
}

.input{
   margin-left: 8%;
   display: flex;
   flex-direction: column;
   width: 40%;
   padding-bottom: 50px;
   border: 10px outset rgb(145, 145, 145);
   padding: 10px;
    margin-bottom: 25px;
}

.input h4{
   margin-bottom: 20px;
}

.input #nama,#email{
   margin-top: 20px;
   height: 30px;
}

.input .btn{
   width: 20%;
   background-color: rgb(61, 61, 255);
   border: none;
   margin-top: 25px;
   width: 120px;
   height: 40px;
   color: white;
   /* border-radius: 10px; */
}


@media only screen and (max-width: 600px) {
   .container{
      padding-left: 4%;
      padding-right: 4%;
   }

   h4{
      font-size: 20px;
   }

   p{
      font-size: 16px;
   }

   .title{
      padding-top: 5%;
   }

   .title .pendahuluan{
      width: 100%;
      margin-top: 10px;
   }
   .materi1 img{
      display: none;
   }

   .materi1 .materi{
      padding-right: 4%;
      margin-left: 20px;
   }

   .materi2 img{
      display: none;
   }

   .materi2 {
      margin-top: 20px;
      margin-left: 4%;
   }

   .materi2 .content .artikel{
      margin-top: -40px;
   }
   
   .materi2 .content .artikel h4{
      margin-bottom: 30px;
   }

   .content{
      flex-direction: column;
   }

   .materi3 .gambar{
      display: none;
   }

   .materi3{
      margin-top: -90px;
   }

   .materi4 .gambar{
      display: none;
   }

   .materi4{
      margin-left: -10px;
      margin-top: 0px;
      padding-top: 10px;
   }

   .materi5{
      margin-right: 0px;
      margin-left: 0px;
      margin-left: 4%;
   }

   .materi5 .card{
      width: 100%;
      margin-right: 0px;
   }

   .layout1{
      flex-direction: column;
   }

   .layout1 .card5{
      margin-top: -50px;
   }

   .materi6{
      margin-top: 20px;
      margin-left: 0;
      padding-left: 4%;
   }

   .materi7{
      margin-top: 20px;
      margin-left: 0;
      padding-left: 4%;
   }

   .materi7 .col{
      flex-direction: column;
   }

   .materi7 .col p{
      text-align: left;
   }

   .komentar{
      width: 100%;
      margin-left: 0;

   }

   .input{
      width: 80%;
      margin: auto;
   }


}
